.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: calc(100% - 10px);
}

.twitter-typeahead {
    width:100%;
}

.tt-menu{
    background: rgb(223, 226, 226);
    margin-top:5px;
}

.typeahead {
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

#search-content-body h4{
    height:20px;
    background:lightBlue;
    padding:10px;
}

#search-content-body h4.question {
    background: lightgray;
}

#search-content-body h4.answer.accepted {
    background: lightgreen;
}

#search-content-body h4 .special.close.accepted {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAIAAAC0Ujn1AAAA+0lEQVRIx2PQuNRJI8QwavRQMjrk9sL9n+4YXemnstFAcz/9+fH///8zXx4bo5rOQBVzIQDNdAZqmYtpOgMVzQWCRz/f21+fSr7ReMx1uD6N/AAh0lzsRlc93mZ6dQKF5mIxesKLQ0Cll749wzSdJHPRjYaYCwFoppNqLorRE5HMRTOdDHMRRrvdmPXr3x9MzUDT4+4tJ8NcFFen31+D1fQ///6RYS56WOMynQxzsaQQgqYTaS72dA00/fe/v1jNffLzA5Hm4syNU14cwTQXaF/YnUVUqAqmvDxKibkEyhC46WSYS7h4ApoOjFUyzCWq5NO70jvaWBjsRgMAVLpL5kLB1ZcAAAAASUVORK5CYII=");
background-repeat: no-repeat, no-repeat;
background-size: contain;
height: 20px;
width: 20px;
}